:root {
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
}



nav {
    background-color: var(--primary-color);
    padding: 3, 2rem 1.4rem;
    max-width: 100%;
    width: 200px;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(200, 200, 200, 0.1);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

body.show {
    transform: translate(200px);
    -webkit-transform: translate(200px);
    -moz-transform: translate(200px);
    -ms-transform: translate(200px);
    -o-transform: translate(200px);
}

.menu-list {
    list-style-type: none;
    max-width: 100% !important;
}

.logo {
    text-align: center;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 3.2rem;
}

.menu-list li {
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 2rem;
    color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.menu-list li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
    margin-top: 2.4rem;
}

.menu-list li:hover {
    text-decoration: underline;
}

.toggle {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: absolute;
    left: 2.4rem;
    top: 2.4rem;
}


.menu-icon {
    font-size: 3.2rem;
    color: white;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    position: relative;
}

h1 {
    font-size: 4.2rem;
    font-weight: 700;
}

.nav-text {
    font-size: 2rem;
    font-weight: 400;
}

header button {
    width: fit-content;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
    padding: 1.4rem 2.4rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.container {
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
}

h3 {
    font-size: 2.6rem;
}

.hero p {
    font-size: 1.5rem;
}

.hero ul {
    margin-left: 3.2rem;
}

ul li {
    font-size: 1.5rem;
}


/* modal */
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    display: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.modal-box {
    background-color: white;
    max-width: 100%;
    width: 400px;
    /*margin: 0 auto;
    */
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    animation: modalopen 1s;
    -webkit-animation: modalopen 1s;
}

.modal-container.show {
    display: block;
}

.modal-header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    color: white;
    padding: 1.4rem;
}

.close-form {
    background-color: transparent;
    border: none;
}

.close-form i {
    color: white;
}

.modal-content,
.modal-cta {
    padding: 1.4rem;
}

.modal-content p {
    font-size: 1.4rem;
}

label {
    font-size: 1.4rem;
}

input {
    width: 100%;
    padding: 0.9rem 0.5rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.input-container {
    margin-bottom: 2rem;
}

button[type="submit"] {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 1.3rem 2rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

@keyframes modalopen {
    from {
       opacity: 0;
    }
    to{
       opacity:1;
    }
}